<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 파일이름을 지칭하는 네임스페이스 -->
<mapper namespace="com.yuri.getcode.boardreplyMapper">

    <!-- 댓글등록-->
    <insert id="createboardreply" parameterType="com.yuri.getcode.dto.BoardReplyDto">
        insert into boardreply (boardid,content,regDate,modifyDate,createdBy,modifiedBy)
        values (#{boardid},#{content},now(),now(),#{createdBy},#{modifiedBy})
    </insert>

    <!-- 댓글수정-->
    <update id="updateboardreply" parameterType="com.yuri.getcode.dto.BoardReplyDto">
        update boardreply set content=#{content},modifyDate=now(),modifiedBy=#{modifiedBy} where id=#{id}
    </update>

    <!--    게시물에 대한 댓글 전체 조회-->
    <select id="selectallbyboardid" parameterType="java.lang.Long" resultType="com.yuri.getcode.dto.BoardReplyDto">
        select * from boardreply where boardid=#{boardid}
    </select>
    <!-- 댓글 삭제-->
    <select id="deleteboardreply" parameterType="java.lang.Long">
        delete from boardreply where id=#{id}
    </select>
</mapper>