<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 파일이름을 지칭하는 네임스페이스 -->
<mapper namespace="com.yuri.getcode.questionMapper">

    <!-- 게시글등록-->
    <insert id="create" parameterType="com.yuri.getcode.dto.BoardDto">
        insert into board (type,subject,content,studyid,viewcnt,regDate,modifyDate,createdBy,modifiedBy)
        values (#{type},#{subject},#{content},#{studyid},0,now(),now(),#{createdBy},#{modifiedBy})
    </insert>

    <!-- 게시글수정-->
    <update id="update" parameterType="com.yuri.getcode.dto.BoardDto">
        update board set
        subject = #{subject}, content = #{content},modifyDate = now(), modifiedBy=#{modifiedBy})
        where id=#{id}
    </update>

    <!-- 게시글아이디로 전체조회-->
    <select id="findbyid" parameterType="java.lang.Long" resultType="com.yuri.getcode.dto.BoardDto">
        select * from board where id=#{id}
    </select>

    <!-- 게시글 전체 조회-->
    <select id="selectall" resultType="com.yuri.getcode.dto.BoardDto">
        select * from board
    </select>

    <!--        notice 전체 조회-->
    <select id="selectnotice" resultType="com.yuri.getcode.dto.BoardDto">
        select * from board where type='NOTICE'
    </select>

    <!--        notice 상세 조회-->
    <select id="findnoticebyid" parameterType="java.lang.Long" resultType="com.yuri.getcode.dto.BoardDto">
        select * from board where type='NOTICE' and id=#{id}
    </select>
    <!--        qna 전체 조회-->
    <select id="selectqna" resultType="com.yuri.getcode.dto.BoardDto">
        select * from board where type='QNA'
    </select>
    <!--        qna 상세 조회-->
    <select id="findqnabyid" parameterType="java.lang.Long" resultType="com.yuri.getcode.dto.BoardDto">
        select * from board where type='QNA' and id=#{id}
    </select>
    <!--        review 전체 조회-->
    <select id="selectreview" resultType="com.yuri.getcode.dto.BoardDto">
        select * from board where type='REVIEW'
    </select>
    <!--        review 상세 조회-->
    <select id="findreviewbyid" parameterType="java.lang.Long" resultType="com.yuri.getcode.dto.BoardDto">
        select * from board where type='REVIEW' and id=#{id}
    </select>
    <!--        내가쓴 게시글 전체 조회-->
    <select id="findbycreatedby" parameterType="java.lang.String" resultType="com.yuri.getcode.dto.BoardDto">
        select * from board where createdBy=#{createdBy}
    </select>

    <!-- 게시글 삭제-->
    <select id="delete" parameterType="java.lang.Long">
        delete from board where id=#{id}
    </select>

    <!--        조회수증가-->
    <update id="updateview" parameterType="java.lang.Long">
        update board set viewcnt=viewcnt+1 where id=#{id}
    </update>
</mapper>