<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <!-- 파일이름을 지칭하는 네임스페이스 -->
<mapper namespace="com.yuri.getcode.mystudyMapper">

        <!-- 나의스터디생성-->
        <insert id="createmystudy" parameterType="com.yuri.getcode.dto.MyStudyDto">
            insert into mystudy set userid=#{userid}, regDate=now(), modifyDate=now(),
            createdBy=#{createdBy}, modifiedBy=#{modifiedBy}
        </insert>

         <!-- 나의스터디 삭제-->
        <select id="deletemystudy" parameterType="java.lang.Long">
            delete from mystudy where mystudyid=#{mystudyid}
        </select>

<!--        회원아이디로 나의스터디카트 조회하기-->
        <select id="findbyuserid" parameterType="java.lang.Long" resultType="com.yuri.getcode.dto.MyStudyDto">
            select * from mystudy where userid = #{userid}
        </select>
</mapper>