<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <!-- 파일이름을 지칭하는 네임스페이스 -->
<mapper namespace="com.yuri.getcode.userMapper">
	
<!--    계정추가-->
        <insert id="signup" parameterType="com.yuri.getcode.dto.UserDto">
          insert into user (userid,password,username,nickname,email,phonenumber,postcode,address1,address2,birthday,sex,role,regDate,modifyDate,createdBy,modifiedBy) values (#{userid},#{password},#{username},#{nickname},#{email},#{phonenumber},#{postcode},#{address1},#{address2},#{birthday},#{sex},'USER',now(),now(),#{userid},#{userid})
        </insert>

<!--    계정 로그인-->
        <select id="login" parameterType="com.yuri.getcode.dto.UserDto" resultType="com.yuri.getcode.dto.UserDto">
        select * from user where userid=#{userid} and password=#{password}
        </select>

<!--        사용자 전체보기-->
        <select id="selectall" resultType="com.yuri.getcode.dto.UserDto">
                select * from user order by id desc
        </select>
<!--        사용자 권한 변경-->
        <update id="updaterole" parameterType="java.util.Map">
                update user set role=#{role} where id = #{id}
        </update>

        <update id="updateinfo" parameterType="com.yuri.getcode.dto.UserDto">
                UPDATE user
                SET
                avatarimage=#{avatarimage.Data},
                avatarImageType=#{avatarImageType}
                username=#{username},
                nickname=#{nickname},
                email=#{email},
                phonenumber=#{phonenumber},
                postcode=#{postcode},
                address1=#{address1},
                address2=#{address2},
                birthday=#{birthday},
                sex=#{sex},
                modifyDate=now(),
                modifiedBy=#{modifiedBy},

                WHERE id=#{id}
        </update>

<!--        회원정보 조회하기(고유번호로)-->
        <select id="selectinfo" parameterType="java.lang.Long" resultType="com.yuri.getcode.dto.UserDto">
                select * from user where id=#{id}
        </select>

        <!--        회원정보 조회하기(회원아이디로)-->
        <select id="selectbyuserid" parameterType="java.lang.String" resultType="com.yuri.getcode.dto.UserDto">
                select * from user where userid=#{userid}
        </select>

        <!--    월별 회원 수 조회하기-->
        <select id="countuserbymonth" resultType="java.util.Map">
                select count(*) as count ,date_format(regDate, '%Y-%m') as regDate from user
                group by date_format(regDate, '%Y-%m') order by regDate asc;
        </select>

        <!--    전체 회원 수 조회하기-->
        <select id ="totalusercount" resultType="java.lang.Integer">
                select count(*) as totalcount from user;
        </select>

</mapper>