<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <!-- 파일이름을 지칭하는 네임스페이스 -->
<mapper namespace="com.yuri.getcode.userMapper">
	
<!--    계정추가-->
        <insert id="signup" parameterType="com.yuri.getcode.dto.UserDto">
          insert into user (userid, password, username, nickname, email, phonenumber,
            postcode, address1, address2, birthday, sex, role, regDate)
                values (#{userid},#{password}, #{username}, #{nickname},#{email},#{phonenumber},
            #{postcode},#{address1},#{address2},#{birthday},#{sex},'USER',now())
        </insert>

<!--    계정 로그인-->
        <select id="login" parameterType="com.yuri.getcode.dto.UserDto" resultType="com.yuri.getcode.dto.UserDto">
        select * from user where userid=#{userid} and password=#{password}
        </select>
</mapper>